.table-container {
    height: 84vh;
    width: 96%;
    margin: 0 auto;
}

table {
    width: 100%;
}

.table-container table thead {
    background-color: black;
    color: white;
}

td {
    text-align: center;
}

.cancel-text {
    font: normal normal normal 12px/48px Open Sans;
    letter-spacing: 0px;
    color: #EB1717;
    opacity: 1;
    font-size: 1.1rem;
}
.cancel-text:hover{
    cursor:pointer;
}
.view-text:hover{
    cursor:pointer;
}
.create-btn---2 {
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
    text-align: left;
    font: normal normal 600 Open Sans;
    letter-spacing: 0px;
    color: #5861AE;
    opacity: 1;
    margin-right:1rem;
    padding:0.2rem 0.7rem;
    position:fixed;
    top:50%;
    left:50%;
    z-index: 10;;
}